.header {
  width: auto;
  padding: 10px 0 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  background-color: $color-white;
}
