.programs__list {
  font-family: "Oswald", sans-serif;
}
.programs__item-subtitle {
  word-break: break-all;
  white-space: normal;
  z-index: 0;
  margin: 0 0 20px 0;
  padding: 9px 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  text-transform: uppercase;
  color: $color-black;
}

.programs__item-text {
  grid-column: 1 / -1;
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
}
